- owner = params[:owner] == 'my' ? 'My' : 'Their'

%h1
  #{owner} Debts
  %span
    = link_to 'Create Debt', [:new, :debt], :class => 'btn btn-success'

.padding-top

%h3 Unpaid Total: #{number_to_currency @debts.unpaid.map.sum(&:amount), :locale => :ph}

%table.table
  %tr
    %th #{params[:owner] == 'my' ? 'To' : 'From'}
    %th Amount
    %th Comment
    %th Created At
    %th Paid

  - @debts.each do |debt|
    %tr
      %td= "#{params[:owner] == 'my' ? debt.payer.full_name : debt.owner.full_name}"
      %td= number_to_currency debt.amount, :locale => :ph
      %td= debt.comment
      %td= debt.start_date.strftime '%b-%d-%Y'
      %td= debt.paid ? 'Yes' : 'No'
