- owner = params[:owner] == 'my' ? 'My' : 'Their'

%h1
  #{owner} Debts
  %span
    = link_to 'Create Debt', [:new, :debt], :class => 'btn btn-success'

.padding-top

%h3 Unpaid Total: #{number_to_currency @debts.unpaid.map.sum(&:amount), :locale => :ph}

%table.table
  %tr
    %th #{params[:owner] == 'my' ? 'To' : 'From'}
    %th Amount
    %th Comment
    %th Created At
    %th Paid
    - if params[:owner] == 'theirs'
      %th
      %th

  - @debts.each do |debt|
    %tr
      %td= "#{params[:owner] == 'my' ? debt.owner.full_name : debt.payer.full_name}"
      %td= number_to_currency debt.amount, :locale => :ph
      %td= debt.comment
      %td= debt.start_date.strftime '%b-%d-%Y'
      %td= debt.paid ? 'Yes' : 'No'
      - if params[:owner] == 'theirs'
        %td
          = link_to [:edit, debt], :class => 'btn btn-sm btn-success form-control' do
            %span.glyphicon.glyphicon-edit{'aria-hidden' => true}
        %td
          = link_to [debt], :class => 'btn btn-sm btn-danger form-control',
            :method => :delete do
            %span.glyphicon.glyphicon-trash{'aria-hidden' => true}
